

.navbar-brand {
	font-family: 'Monoton', cursive;
	color: red;
}


nav.navbar-default{
	// border-top:2.5px #b32d00 solid;
	border-bottom:2.5px #b32d00 solid;
	background-color:black;
}

.navbar {
	border: none;
}

// @media (min-width: 768px){
// 	.navbar {
// 		border-radius: none !important; 
//     }
// }