<header>
	<div class="container">

	</div>
</header>


<section id="main">
	<div class="container">
		<article id="main_col">
			<h1 class="page-header">About Us</h1>
			<p>
				Our DJ website has over 25,000 ways to become a superstar DJ! and is packed full of enhanced features to make your shopping experience with us the best!. 
            </p>
            <p class="dark"> You can trust in us for a great shopping experience online and off with amazing prices on Disco Equipment and great customer service to match.
			</p>
		</article>
		<aside id="sidebar">
			<div class="dark">
				<h3 class="page-header">What We Do</h3>
				<p>To make full use of the features of our website please register to receive loyalty points, post video reviews, receive exclusive special offers. As well as our website we have a large DJ Shop in Newbury, Berkshire where we have all the leading DJ Equipment available to try out before you buy.</p>
			</div>
		</aside>
	</div>
</section>



