<div class="container">
    <h1 class="contact">contact us</h1>

    <p class="contact_email">Email: krystle.mensah@gmail.com</p>

    <div class="row">
        <div class="col-sx-12">
            <h2>contact form</h2>
                <form action="" method="">
                    <div class="form-group">
                        <label for="">Your Name</label>
                        <input type="your_name" class="form-control" id="your_name" />
                    </div>
                    <div class="form-group">
                        <label for="">Email Address</label>
                        <input type="email" class="form-control" id="email" />
                    </div>
                    <div class="form-group">
                        <label for="">Enquiry</label>
                        <textarea name="enquiry" id="input-enquiry" class="form-control"></textarea />
                    </div>
                    <div class="form-group">
                        <input type="submit" id="submit" class="btn btn-default" />
                    </div>
                </form>
        </div><!-- ./ col -->
    </div><!-- ./ row -->
</div><!-- /.container -->
