// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SIDEBAR

aside#sidebar{
	float: right;
	//width: 30%;
	margin-top: 10px;
	text-align: center;
}


// ARTICLE 

article#main_col{
	//float: left;
	//width: 65%;
	text-align: center;
    margin: auto;
}

.dark{
	padding: 15px;
	background-color: #b32d00;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
} 
