footer#footer {
	background-color: #333;
 	text-align: center;
 	border: 2.5px #b32d00 solid;
 	color: #fff; 
	text-decoration: none;
	position: fixed;
	bottom: 0;
	left: 0;
    width: 100%;
}


p.footer-text {
	padding-top: 15px;  
}


// a.footer_about_link {
// 	color: #ccc;
// 	text-decoration: none;
// }


// a.footer_contact_link {
// 	color: #ccc;
// 	text-decoration: none;
// }


// h5.footer_h5 {
// 	color:#ffffff;
// }


