footer#footer {
	background-color: #333;
 	text-align: center;
 	position: fixed;
 	border: 2.5px #b32d00 solid;
 	color: #fff; 
    bottom: 0;
	width: 100%;
	color: #ccc;
	text-decoration: none;
    /*height: 60px;*/
}


p.footer-text {
	padding-top: 15px;  
}


a.footer_about_link {
	color: #ccc;
	text-decoration: none;
}


a.footer_contact_link {
	color: #ccc;
	text-decoration: none;
}


h5.footer_h5 {
	color:#ffffff;
}


