// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#carousel-example-generic {
    top: 50px;

    width: 700px;
    margin: 20px auto;
    padding: 50px;
    border: solid black 1px;
    box-sizing: border-box;
}

