<%# http://localhost:3000/products/1/edit %>

<h1>Edit product</h1>

<!-- which updates a product’s details -->


<%= render partial: 'partials/form', locals: { product: @product } %> <!-- The form being referenced here is a type of view called a partial templete. The parameters is "product" so im keeping the partial word. im not sure. This will enable you to access the product variable inside the partial. --> 

<%= link_to 'Show', @product, class: 'btn btn-default' %> 
<%= link_to 'Back', products_path, class: 'btn btn-default' %>    

