<div class="new-product-button">
    <button class="btn btn-primary new-product">
        <%= link_to 'New Product', new_product_path %>
    </button>
</div><!-- ./ new product button -->


<p class="body-text" id="notice"><%= notice %></p>


<h1 class="products">Products</h1>


<div class="container" id="all_products">
    <div class="row">

        <%# _products.html.erb %>
        <%= render 'products/product', locals: { product: @product } %>

    </div><!-- ./ row -->
</div><!-- ./ container -->
