<%# http://localhost:3000/products %>

<h1 class="products">Products</h1>

<p>Find me in app/views/products/index.html.erb</p>

<p id="notice"><%= notice %></p>


<%= render 'shared/product', locals: { product: @product } %> 

       
<%= link_to 'New Product', new_product_path, class: 'btn btn-default' %>      
   
