<div class="new-product-button">
    <button class="btn btn-primary new-product">
        <%= link_to 'New Product', new_product_path, class: "new_product_link" %>
    </button>
</div><!-- ./ new product button -->


<p class="body-text" id="notice"><%= notice %></p>


<header>
	<div class="container">
		<h1 class="page-header">Products</h1>
	</div><!-- ./ container -->
</header>


<section class="all_products">
	<div class="container">
	    <div class="row">

	        <%# _products.html.erb %>
	        <%= render 'products/product', locals: { product: @product } %>

	    </div><!-- ./ row -->
	</div><!-- ./ container -->	
</section><!-- ./ all products -->

