<%# http://localhost:3000/products %>

<h1 class="products">Products</h1>

<p id="notice"><%= notice %></p>


<%= render 'shared/product', locals: { product: @product } %> 
     
<div class="new_product_button">
    <%= link_to 'New Product', new_product_path, class: 'btn btn-default' %>      
</div><!-- ./ new_product_button -->

