// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-sx-12 {
    position: relative;
    top: 40px;
}


.new_product_button {
    position: relative;
    top: 80px;
}


div#all_products{
    position: relative;
    top: 60px;
}

