.col-sx-12 {
    position: relative;
    top: 40px;
}


.new_product_button {
    position: absolute;
    bottom: 692px;
    left: 200px;
}


div#all_products{
    position: relative;
    top: 60px;
    text-align: center;
}


h1.products {
    top: 50px
} 

