.col-sx-12 {
    position: relative;
    top: 40px;
}



div#all_products{
    position: relative;
    top: 60px;
    text-align: center;
}



h1.products {
    top: 50px
}


.new-product-button{ 
    float: right;
    margin-right: 30px;
}

